nav{
    background-color: #bc2d3f;
    font-size: 0.8em;
}

.jumbotron{
    margin-top: 70px;
    height: 400px;
    background-image: url(asset/sebastian-staines-CoYj5sQUzKU-unsplash.jpg);
    background-size: cover;
}
